@if (appointments()) {

    <div class="card p-4">
        @if (currentView() === 'mini-view') {
            <div class="flex justify-content-between align-items-center w-full gap-4">
                <h2 class="m-0">
                    Patient Appointment
                </h2>
    
                <div class="right">
                    <p-button label="View All" [text]="true" severity="secondary" />
                </div>
    
            </div>

            <div class="date-ribbon">
                <p-button icon="flex-grow-1 item arrow pi pi-angle-left" (onClick)="goToPrevious()" [rounded]="true" [text]="true" severity="secondary" />
                    @for (date of dates; track $index) {
                        <div (click)="updateCurrent(date)" class="flex flex-grow-1 item flex-column align-items-center justify-content-center gap-2" [ngClass]="{ 'active': date.dayNum == todayDate && date.monthNum == todayMonth }">
                            <span class="text-color-secondary text-sm">{{ date.dayName }}</span>
                            <span class="text-lg">{{ date.dayNum }}</span>
                        </div>
                    }
                <p-button icon="flex-grow-1 item arrow pi pi-angle-right" (onClick)="goToNext()" [rounded]="true" [text]="true" severity="secondary" />
            </div>
              

            <div>
                {{ appointments() | json }}
            </div>
        }
    </div>
}
@else {
    <div class="card m-2 p-2">
        @for (item of [].constructor(4); track $index) {
            <p-skeleton height="4rem" width="18rem"></p-skeleton>
            <br>
        }
    </div>
}