<!-- Admin layout should contain following components
1. HEADER
2. COLLAPSABLE SIDE-BAR
3. FOOTER
4. ROUTER OUTLET TO LOAD CHILD COMPONENT (DEFAULT BEING "DASHBOARD") -->



<div class="h-screen flex">
    <admin-sidebar></admin-sidebar>
    <div class="h-full w-full flex flex-column">
        <div class="flex-none">
            <admin-header></admin-header>
        </div>
        <div class="flex-grow-1 px-4">
            <router-outlet></router-outlet>
        </div>
        <div class="flex-none">
            <admin-footer></admin-footer>
        </div>
    </div>
</div>