@if (chart()) {
    <div class="p-4">

        <div class="flex align-items-center justify-content-between">

            <h2 class="m-0">
                Patient Overview
            </h2>

            <button class="header-text-button primary" (click)="viewChangeMenu.toggle($event)">
                
                {{ allViews[currentViewIndex].label }}
    
                <span class="pi pi-angle-down">
                </span>
    
            </button>

        </div>

        <span class="text-color-secondary">by Age Stages</span>

        <p-chart type="bar" [data]="data" [options]="options" />
    </div>
}
@else {
    <p-skeleton styleClass="p-2 mx-auto" width="full" height="24rem" borderRadius="16px" />
}

<p-menu #viewChangeMenu [model]="allViews" [popup]="true" />