<p-menu [model]="items" styleClass="custom-sidebar-container">

    <ng-template pTemplate="start">
        <img [routerLink]="'dashboard'" class="w-9 m-2 cursor-pointer" src="assets/images/logo-full.png" alt="Logo Image" />
    </ng-template>

    <ng-template pTemplate="submenuheader" let-item>
        <span class="text-primary font-bold">{{ item.label }}</span>
    </ng-template>

    <ng-template pTemplate="item" let-item>
        <a 
            [routerLink]="item.routerLink" 
            pRipple
            [routerLinkActive]="item.routerLinkActiveOptions"
            class="p-menuitem-link sidebar-nav-link">
            <span [class]="item.icon"></span>
            <span class="ml-2">{{ item.label }}</span>
            <p-badge *ngIf="item.badge" class="ml-auto" [value]="item.badge" severity="danger" />
        </a>
    </ng-template>

    <ng-template pTemplate="end">
        @if (sideNavItemsLoading) {
            @for (i of [].constructor(10); track $index) {
                <p-skeleton styleClass="w-11" height="2rem" borderRadius="20rem" />
                <br>
            }
        }
        @else {
            <div class="h-full flex flex-column justify-content-end">
                @if (isBottomBannerVisible) {
                    <admin-bottom-banner></admin-bottom-banner>
                }
            </div>
        }
    </ng-template>
</p-menu>