/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@import "primeflex/primeflex.css";
@import 'primeflex/primeflex.scss';


html,
body {
    margin: 0;
    font-size: 14px;
}

/* Overrides */
.p-menu .p-menuitem:not(.p-highlight):not(.p-disabled).p-focus>.p-menuitem-content {
    color: #4b5563;
    background: none;
}

.p-menu-end {
    flex-grow: 1;
}

.p-avatar.p-avatar-image {
    display: flex;

    img {
        border-radius: 8px;
    }
}

.p-calendar .p-datepicker {
    background: transparent;
    border: none;

    table td {
        padding: 0;

    }

    .p-datepicker-header {
        background: transparent;
    }

    .p-highlight.p-datepicker-current-day {
        @include styleclass('surface-700 text-white border-round-xl')
    }
}

.fc-header-toolbar.fc-toolbar.fc-toolbar-ltr {
    margin-bottom: 0;
    padding: 4px;

    h2 {
        font-size: medium;
    }

    button.fc-customAddButton-button.fc-button.fc-button-primary {
        border-radius: 8px;
        line-height: unset;
    }
}

.p-tag {
    
    border-radius: 20rem;
    padding: 0.2rem 1rem;
    font-size: small;
    font-weight: normal;

    &.p-tag-success {
        background-color: #DFF8F9;
        border: 2px solid #A2F2EE;
        color: black;    
    }

    &.p-tag-danger {
        background-color: #FFF4F4;
        border: 2px solid #FD4245;
        color: #FD4245;    
    }
}














/* Class Reusability */

.custom-sidebar-container {
    @include styleclass('w-16rem surface-100 px-2 py-4 border-noround border-none h-full overflow-auto flex flex-column');

    .sidebar-nav-link {
        @include styleclass('hover:bg-cyan-200 m-2 border-round-top-3xl border-round-bottom-3xl my-1');
    }

    .sidebar-nav-link-active {
        @include styleclass('bg-cyan-200 text-black-alpha-90 font-bold');
    }
}

.header-icon-button {
    @include styleclass('relative flex p-3 h-full align-items-center justify-content-center cursor-pointer hover:surface-200 text-xl surface-100 border-round-2xl border-none');

    .unread-stage-dot {
        @include styleclass('text-red absolute -mt-4 -mr-4 font-bold text-4xl text-red-600')
    }

}

.header-text-button {
    @include styleclass('flex p-3 h-full gap-2 align-items-center justify-content-center cursor-pointer hover:surface-200 surface-100 border-round-2xl border-none');

    &.primary {
        @include styleclass('surface-700 p-3 hover:surface-800 text-white');
    }

    .unread-stage-dot {
        @include styleclass('text-red absolute -mt-4 -mr-4 font-bold text-4xl text-red-600')
    }

}

.header-search {
    @include styleclass('h-full surface-100 border-round-2xl border-none');

}


.main-header {
    max-width: calc(100vw - 16rem);
    overflow: hidden;
}

.main-content {
    max-height: 100vh;
    max-width: calc(100vw - 16rem);
    overflow: auto;
}

.stat-card-dashboard {
    background: transparent;
    box-shadow: none;
    @include styleclass('px-4 pb-3 pt-2 border-1 surface-border border-round-3xl max-w-24rem');

    .top {
        @include styleclass('flex align-items-center justify-content-between');

        .left {
            @include styleclass('flex gap-2')
        }
    }

    .middle {
        @include styleclass('flex align-items-center justify-content-between');

        .state {
            @include styleclass('flex align-items-center p-2 border-round-xl text-sm');

            &.up {
                @include styleclass('bg-green-200');
            }

            &.down {
                @include styleclass('bg-red-200');
            }
        }
    }

    .bottom {
        @include styleclass('text-color-secondary')
    }
}

.dashboard-right {

    @include styleclass('flex flex-column gap-4 h-fit');

    .dashboard-calendar-container {
        @include styleclass('surface-100 border-round-3xl p-2 h-fit');
    
        .mini-calendar {
            @include styleclass('bg-white border-round-2xl p-2 h-30rem');
        }
    
        .fc-view-harness.fc-view-harness-active {
            height: 25rem !important;
        }
    }
}

.dashboard-left {

    @include styleclass('flex flex-column gap-4 flex-grow-1');

    .card-stat-container {
        @include styleclass('flex flex-row gap-4 flex-wrap w-full h-fit');

        .chart-container {
            @include styleclass('general-card');

            @media (min-width: 1250px) {
                width: calc(50% - 0.8rem) !important;
            }

            &.small {
                @media (min-width: 1250px) {
                    width: calc(35% - 0.8rem) !important;
                }
            }
        }
    }
}

.button-group-container {
    @include styleclass('flex justify-content-between gap-2 p-2 surface-100 border-round-2xl');
}

.report-icon-container {
    border-radius: 1rem;
    color: #233955;
    background-color: #A2F2EE;
    padding: 1rem;
}

.general-card {
    @include styleclass('w-full h-fit min-w-max border-1 surface-border border-round-3xl');
}

.overflow-text-2 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
}

.footer-container {
    @include styleclass('text-color-secondary px-4 py-3 flex gap-4');

    .text-container {
        @include styleclass('font-bold')
    }

    .links-container {
        @include styleclass('flex gap-3 flex-grow-1');

        a {
            @include styleclass('text-300 no-underline')
        }
    }

    .icons-container {
        @include styleclass('flex gap-3');
    }
}