/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@import "primeflex/primeflex.css";
@import 'primeflex/primeflex.scss';


html, body {
    margin: 0;
    font-size: 14px;
}

/* Overrides */
.p-menu .p-menuitem:not(.p-highlight):not(.p-disabled).p-focus > .p-menuitem-content {
    color: #4b5563;
    background: none;
}

.p-menu-end {
    flex-grow: 1;
}

.p-avatar.p-avatar-image {
    display: flex;
    img {
        border-radius: 8px;
    }
}

.p-calendar .p-datepicker {
    background: transparent;
    border: none;

    table td {
        padding: 0;

    }
    .p-datepicker-header {
        background: transparent;
    }
}

.fc-header-toolbar.fc-toolbar.fc-toolbar-ltr {
    margin-bottom: 0;
    padding: 4px;

    h2 {
        font-size: medium;
    }

    button.fc-customAddButton-button.fc-button.fc-button-primary {
        border-radius: 8px;
        line-height: unset;
    }
}

/* Class Reusability */

.custom-sidebar-container {
    @include styleclass('w-16rem surface-100 px-2 py-4 border-noround border-none h-full overflow-auto flex flex-column');

    .sidebar-nav-link {
        @include styleclass('hover:bg-cyan-200 m-2 border-round-top-3xl border-round-bottom-3xl my-1');
    }

    .sidebar-nav-link-active {
        @include styleclass('bg-cyan-200 text-black-alpha-90 font-bold');
    }
}

.header-icon-button {
    @include styleclass('relative flex p-3 h-full align-items-center justify-content-center cursor-pointer hover:surface-200 text-xl surface-100 border-round-2xl border-none');

    .unread-stage-dot {
        @include styleclass('text-red absolute -mt-4 -mr-4 font-bold text-4xl text-red-600')
    }

}

.header-text-button {
    @include styleclass('flex h-full gap-2 align-items-center justify-content-center cursor-pointer hover:surface-200 surface-100 border-round-2xl border-none');

    .unread-stage-dot {
        @include styleclass('text-red absolute -mt-4 -mr-4 font-bold text-4xl text-red-600')
    }

}

.header-search {
    @include styleclass('h-full surface-100 border-round-2xl border-none');

}

.stat-card-dashboard {
    background: transparent;
    box-shadow: none;
    @include styleclass('px-4 pb-3 pt-2 border-1 surface-border border-round-3xl');

    .top {
        @include styleclass('flex align-items-center justify-content-between');

        .left {
            @include styleclass('flex gap-2')
        }
    }

    .middle {
        @include styleclass('flex align-items-center justify-content-between');

        .state {
            @include styleclass('flex align-items-center p-2 border-round-xl text-sm');

            &.up {
                @include styleclass('bg-green-200');
            }

            &.down {
                @include styleclass('bg-red-200');
            }
        }
    }

    .bottom {
        @include styleclass('text-color-secondary')
    }
}

.dashboard-calendar-container {
    @include styleclass('surface-100 border-round-3xl p-2');

    .mini-calendar {
        @include styleclass('bg-white border-round-2xl p-2 h-30rem');
    }

    .fc-view-harness.fc-view-harness-active {
        height: 25rem !important;
    }
    
}