/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@import "primeflex/primeflex.css";
@import 'primeflex/primeflex.scss';


html, body {
    margin: 0;
    font-size: 14px;
}

/* Overrides */
.p-menu .p-menuitem:not(.p-highlight):not(.p-disabled).p-focus > .p-menuitem-content {
    color: #4b5563;
    background: none;
}

.p-menu-end {
    flex-grow: 1;
}

.p-avatar.p-avatar-image {
    display: flex;
    img {
        border-radius: 8px;
    }
}


/* Class Reusability */

.custom-sidebar-container {
    @include styleclass('w-16rem surface-100 px-2 py-4 border-noround border-none h-full overflow-auto flex flex-column');

    .sidebar-nav-link {
        @include styleclass('hover:bg-cyan-200 m-2 border-round-top-3xl border-round-bottom-3xl my-1');
    }

    .sidebar-nav-link-active {
        @include styleclass('bg-cyan-200 text-black-alpha-90 font-bold');
    }
}

.header-icon-button {
    @include styleclass('relative flex p-3 h-full align-items-center justify-content-center cursor-pointer hover:surface-200 text-xl surface-100 border-round-2xl border-none');

    .unread-stage-dot {
        @include styleclass('text-red absolute -mt-4 -mr-4 font-bold text-4xl text-red-600')
    }

}

.header-text-button {
    @include styleclass('flex h-full gap-2 align-items-center justify-content-center cursor-pointer hover:surface-200 surface-100 border-round-2xl border-none');

    .unread-stage-dot {
        @include styleclass('text-red absolute -mt-4 -mr-4 font-bold text-4xl text-red-600')
    }

}

.header-search {
    @include styleclass('h-full surface-100 border-round-2xl border-none');

}