<div class="flex gap-4 flex-wrap">
    <card-stats class="flex-grow-1" [cardStats]="invoiceStats"></card-stats>
    <card-stats class="flex-grow-1" [cardStats]="patientStats"></card-stats>
    <card-stats class="flex-grow-1" [cardStats]="appointmentStats"></card-stats>
    <card-stats class="flex-grow-1" [cardStats]="bedroomStats"></card-stats>
</div>

<card-bar-chart [chart]="patientOverviewByAge"></card-bar-chart>
<card-line-chart [chart]="revenueOverview"></card-line-chart>
<card-pie-chart [chart]="patientOverviewByDept"></card-pie-chart>