<div class="footer-container">
    <span class="text-container">
        Copyright © 2024 Peterdraw
    </span>
    <div class="links-container">
        <a href="" target="_blank" rel="noopener noreferrer">Privacy Policy</a>
        <a href="" target="_blank" rel="noopener noreferrer">Term and conditions</a>
        <a href="" target="_blank" rel="noopener noreferrer">Contact</a>
    </div>
    <div class="icons-container">
        <span href="" class="pi pi-facebook cursor-pointer"></span>
        <span href="" class="pi pi-twitter cursor-pointer"></span>
        <span href="" class="pi pi-instagram cursor-pointer"></span>
        <span href="" class="pi pi-youtube cursor-pointer"></span>
        <span href="" class="pi pi-linkedin cursor-pointer"></span>
    </div>

</div>